body{
    text-align: center;
}
.section{
    height: 15%;
    font-style: italic;
    margin: auto;
}
.lone-top{
    margin-top: 5%;
    height: 10%;
}
.lone-bottom{
    margin-bottom: 5%;
    height: 8%;
}
.left{
    float: left;
    font-style: italic;
}
.right {
    float: right;
    font-style: italic;
}
#face{
    display: inline-block;
    width: 300px;
    height: 300px;
    background-color: orange;
    border-radius: 50%;
    border: 2px solid #802600ed;
    position: relative;
}
#clock{
    display: inline-block;
    width: 300px;
    height: 300px;
    background-color: #802600ed;
    padding: 20px;
    border: 2px solid #802600ed;
    position: relative;
}
#number-face{
    padding-top: 2px;
    display: inline-block;
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
#hour{
    width: 80px;
    height: 3px;
    background-color: orangered;
    position: absolute;
    top: 50%;
    right: 50%;
    transform-origin: right;
}
#minute{
    width: 110px;
    height: 3px;
    background-color: orangered;
    position: absolute;
    top: 50%;
    right: 50%;
    transform-origin: right;
}
#second{
    width: 140px;
    height: 3px;
    background-color: orangered;
    position: absolute;
    top: 50%;
    right: 50%;
    transform-origin: right;
}
#dot{
    width: 12px;
    height: 12px;
    background-color: red;
    position: absolute;
    top: 48%;
    right: 48%;
    border-radius: 50%;
}